<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Table</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h2>Student Table</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Marks</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.name %></td>
                    <td><%= student.marks %></td>
                    <td>
                        <% if(student.marks >= 50) { %>
                            Pass
                        <% } else { %>
                            Fail
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>