body {
    font-family: Arial;
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}

th {
    background-color: #444;
    color: white;
}

td {
    background-color: #f4f4f4;
}